spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-auth
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/auth/**
            - id: user-service-users
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/users/**

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true